{% extends "base.html" %}

{% block style %}
{% assets filters="cssmin", output="css/gen/posts_edit.min.css", "css/pages/posts_edit.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}{% if post %} Edit {% else %} New {% endif %} Post {% endblock %}

{% block content %}
{% if not post or post.user_id == user.id %}
<h3>{% if post %} Edit {% else %} New {% endif %} Post</h3>
<div id="post"></div>
<hr>
<div class="hidden">
  <div class="form-group tagStuff">
    <label class="col-sm-2 control-label">Tags</label>
    <div id="tagControls" class="col-sm-1">
      <i class="fa fa-lg fa-plus-circle"></i>&nbsp;
      <i class="fa fa-lg fa-minus-circle"></i>
    </div>
  </div>
</div>
<div class="hidden">
  <div id="s3Upload">
    <input type="file" class="form-control">
    <a class="btn btn-primary"><span>Upload</span><img src="/static/loading_blue.gif"></a>
  </div>
  <div class="picInputSkel form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-8">
      <p class="form-control-static"></p>
    </div>
    <a href="javascript: void 0;" class="btn btn-danger col-sm-2">Remove Picture</a>
  </div>
</div>
<hr>
<div class="text-center">
  Don't hotlink images! Use the upload functionality whenever possible. If you want to include an image from somewhere else on the web, download it to your computer and re-upload it from this page.
</div>
{% else %}
<div class="alert alert-info">You are not authorized to edit this post!</div>
{% endif %}
{% endblock %}

{% block script %}
{{ super() }}
{% if not post or post.user_id == user.id %}
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
{% assets filters="jsmin", output="gen/post_edit.min.js",
"js/Tag.js", "js/Post.js", "js/pages/posts_edit.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
    ieee.pages.posts_edit.setup(
            {% if post %} {{ post.serialize|tojson|safe }} {% else %} null {% endif %},
            "{{ s3_access_id }}",
            "{{ policy }}",
            "{{ signature }}"
        );
    });
</script>
{% endif %}
{% endblock %}
