{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block script %}
{{ super() }}
{% assets filters="jsmin", output="gen/post.min.js", "js/Post.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
  $(function() {
      $("#content").html(new ieee.Post({{ post.serialize|tojson|safe }}, {no_collapse: true}).render());
  });
</script>
{% endblock %}
