{% extends "base.html" %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content %}
<h3>All Posts tagged with '{{ tag.name }}': </h3>
<div id="posts"></div>
{% endblock %}

{% block script %}
{{ super() }}
{% assets filters="jsmin", output="gen/post.min.js", "js/Post.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
  $(function() { ieee.getTaggedPosts($("#posts"), "{{ tag.name }}"); });
</script>
{% endblock %}
