{% extends "base.html" %}
{% block title %}Account Info Reset{% endblock %}

{% block pic %}
<div id="arMessage" class="alert alert-info"> Change your e-mail, password, or both below. </div>
{% endblock %}

{% block content %}
<div class="hidden" id="valid">{{ valid }}</div>
<dl id="arForm">
  <div class="control-group">
    <label class="control-label" for="email">New Email</label>
    <input class="form-control" id="arEmailIn" name="email" placeholder="mustang@calpoly.edu" type="email">
  </div>
  <div class="control-group">
    <label class="control-label" for="password">New Password</label>
    <input class="form-control" id="arPasswordIn" name="password" placeholder="••••••" type="password">
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Confirm New Password</label>
    <input class="form-control" id="arConfirmIn" name="password" placeholder="••••••" type="password">
  </div>
  <br>
  <a id="arSubmitBtn" class="btn btn-primary pull-right">Submit</a>
</dl>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/pages/users_account_reset.js')  }}"></script>
<script type="text/javascript">$(function() { ieee.pages.users_account_reset.setup(); });</script>
{% endblock %}
