{% extends "base.html" %}
{% block title %}Account Reset Request{% endblock %}

{% block content %}
<dl>
  <div class="control-group">
    <label class="control-label" for="email">What is your CalPoly e-mail?</label>
    <input class="form-control" id="rstEmailIn" name="email" placeholder="mustang@calpoly.edu" type="email">
  </div>
</dl>
<a class="btn btn-primary" id="rstSubmitBtn">Submit</a>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/pages/users_account_reset_request.js')  }}"></script>
<script type="text/javascript">$(function() { ieee.pages.users_account_reset_request.setup(); });</script>
{% endblock %}

