{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<a class="pull-right" href="{{ url_for('users.request_reset_account') }}">Forgot Password?</a>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/pages/users_login.js') }}"></script>
<script type="text/javascript">$(function() { ieee.pages.users_login.setup(); });</script>
{% endblock %}
