{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
{% assets filters="jsmin", output="gen/register.min.js", "js/pages/users_register.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript"> $(function() { ieee.pages.users_register.setup(); });</script>
{% endblock %}
