{% extends "base.html" %}
{% block title %} {{ user.name }} {% endblock %}

{% block content %}
<div id="profile"></div>
<h3>Posts by {{ user.name }}:</h3>
<div id="posts"></div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
{% assets filters="jsmin", output="gen/single_profile.min.js",
  "js/Post.js", "js/Profile.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
    $(function() {
        var p = {{ user.serialize|tojson|safe }}, posts = {{ posts|tojson|safe }};

        $("#profile").append((new ieee.Profile(p)).render({old: p.year_active}));
        $("#posts").append(posts.map(function (post) {
            return new ieee.Post(post).render();
        }));
    });
</script>
{% endblock %}
