{% extends "base.html" %}

{% block style %}
{% assets filters="cssmin", output="css/gen/projects_edit.min.css", "css/pages/projects_edit.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}{% if project %} Edit {% else %} New {% endif %} Project {% endblock %}

{% block content %}
<h3>{% if project %} Edit {% else %} New {% endif %} Project</h3>
<div id="project"></div>
{% endblock %}

{% block script %}
{{ super() }}
{% assets filters="jsmin", output="gen/projects_edit.min.js", "js/pages/projects_edit.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">$(function() {
    ieee.pages.projects_edit.setup(
        {{ posters|tojson|safe }},
        {% if project %} {{ project.serialize|tojson|safe }} {% else %} null {% endif %}
    );
});</script>
{% endblock %}
