{% extends "base.html" %}
{% set active_page="projects" %}

{% block title %}{{ project.title }}{% endblock %}

{% block style %}
{% assets filters="cssmin", output="css/gen/projects.min.css", "css/pages/projects.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block pic %}
{% if project.image_link %}
<div class="topPic prjPic" style="background-image: url('{{ project.image_link }}');">
  <div class="h1">{{ project.title }}</div>
</div>
{% endif %}
<div class="prjHeading">
  {% if not project.image_link %}
  <div class="h1">{{ project.title }}</div>
  {% endif %}
  <h4>{{ project.description }}</h4>
  {% if project.repo%}
  <div>
    Codebase: <a href="{{ project.repo }}">{{ project.title }}</a>
  </div>
  {% endif %}
  {% if project.project_contact_id %}
  <div>
    Project Contact: <a href="/users/{{ project.project_contact_id }}/profile/">{{ project.contact.name }}</a>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="prjBody">
  {{ project.content|safe }}
</div>
<hr>
<div class="prjPosts">
  <h4>Posts related to {{ project.title }}:</h4>
  <div id="posts"></div>
</div>
<br>
<div class="alert alert-success">
  Got a project idea? Check
  <a href="/ideas/">
    this
  </a>
  out.
  If accepted, we will fully fund your project!
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/Post.js')  }}"></script>
<script type="text/javascript">
  $(function() { ieee.getTaggedPosts($("#posts"), "{{ project.associated_tag.name }}"); });
</script>
{% endblock %}

