{% extends "base.html" %}
{% set active_page="projects" %}
{% set title="Project Proposals" %}

{% block style %}
{% assets filters="cssmin", output="css/gen/projects.min.css", "css/pages/projects.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block pic %}
<!-- Picture source belongs to XKCD's comic 730. https://xkcd.com/730/ !-->
<div class="topPic"
     style="background-image: url('http://static.calpolyieee.org/img/circuit_diagram.jpg');">
  <div class="h1">{{ title }}</div>
</div>
<div class="prjHeading">
  <div class="h4">
    <p>
      The IEEE student branch at Cal Poly is looking for EE/CPE-related student
      projects to sponsor.
    </p>
    <p>
      If you would like technical and financial support for
      your project, please draft and submit a project proposal according to the
      guidelines listed below.
    </p>
  </div>
</div>
{% endblock %}

{% block content %}
<div>
  Your proposal should include (but is not limited to) the following
  information:
</div>
<ol>
  <li>
    Contact information for all team member(s) (specify team lead/advisor if
    applicable)
  </li>
  <li>
    Project information
  </li>
  <ol>
    <li>
       Overview of the project.  Include black box diagrams, sketches, figures,
       etc.
    </li>
    <li>
      How can your project diverge into a future project?
    </li>
    <li>
      What are your goals for the project? Why are you doing it and what do you
      hope to accomplish?
    </li>
    <li>How will IEEE-SB benefit by funding your project?</li>
  </ol>
  <li>Timeline and budget</li>
  <ol>
    <li>
      Timeline of major milestones which can be used to measure progress
    </li>
    <li>
      What is your budget at each milestone?
    </li>
    <li>
      Total budget?
    </li>
  </ol>
</ol>
<div>
  A sample proposal can be downloaded
  <a href="https://drive.google.com/file/d/0BwEVhfAxOkIZOTBpODVzbTlqMkU/edit?usp=sharing">
    here.
  </a>
</div>
<div>
  Email a PDF copy of your proposal to our Projects Manager at
    <a href="alu06@calpoly.edu">
       alu06@calpoly.edu
    </a>

    {% for use in user %}                                                                         
	  <a href="{{ use.email }}">
	    {{ use.email }}
	  </a>
  {% endfor %}

{% endblock %}
