{% extends 'admin/layout.html' %}
{% block body %}
<p> Hello, webmaster(s). </p>

<b><p>Please note: anything you change in here will be reflected in the db <em>instantly</em>.</p></b>

{% endblock %}
