{% extends "base.html" %}

{% block style %}
{% assets filters="cssmin", output="css/gen/current_user_profile.min.css", "css/pages/current_user_profile.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}Profile{% endblock %}

{% block pic %}
<div class="alert alert-success h4">
  Welcome{% if user.name %}, {{ user.name }}{% endif %}
  <span class="pull-right"><a id="logoutLnk" href="#">Logout</a></span>
</div>
{% endblock %}

{% block content %}
<ul class="nav nav-pills h4"></ul>
<hr>
<div id="consoleMessages"></div>
<div id="nothing" class="text-center">
  Nothing to see here... why don't you click a button?
</div>
{% endblock %}

{% block script %}
{{ super() }}
{% assets filters="jsmin", output="gen/profile.min.js", "js/pages/current_user_profile.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">$(function() {
  ieee.pages.current_user_profile.setup(
      {{ user.consoles|tojson|safe }},
      {{ debug|tojson }},
      {{ unverified|tojson }}
  );
});</script>
{% endblock %}
