/*Styles for the profile page overall*/
ul.nav.nav-pills {
    margin: 0 0 20px 0;
}

ul.nav.nav-pills > li > a {
    color: grey;
}

ul.nav.nav-pills > li.active > a {
    color: white;
}

/*Styles for the front_page console*/
#eventsFrame table td:last-child {
    padding: 0;
    text-align: right;
}

.utilsForm.eventForm .col-sm-2 {
    width: 25%;
}

.utilsForm.eventForm .col-sm-10 {
    width: 75%;
}

/*Styles for the posts console*/
#postsFrame tbody td:last-child {
    text-align: right;
}

#postsFrame tbody td:last-child a:last-child {
    margin-left: 10px;
}

/*Styles for the projects console*/
#projectsFrame tbody td:last-child {
    text-align: right;
}

#projectsFrame tbody td:last-child a:last-child {
    margin-left: 10px;
}

/*Styles for the run console*/
#runFrame > .candidates {
    margin: 0;
}

#runFrame .candidate {
    cursor: auto;
}

#runFrame .utilsForm .form-group:first-child h4 {
    line-height: 34px;
}

#runFrame .utilsForm .form-group:first-child h4 a.btn {
    float: right;
}

/*Styles for the profile console*/
#profileConsole > div:first-child > span:last-child {
    line-height: 34px;
}

/*Styles for the voting console*/
#votingFrame .alert.alert-info {
    padding: 5px;
    margin: 10px 0px;
    border-radius: 4px;
}

#votingFrame > a.btn:last-child {
    float: right;
}

#votingFrame .progress {
    margin-bottom: 5px;
}

@media only screen and (min-width: 900px) {
    ul.nav.nav-pills {
        width: 200px;
        position: absolute;
        left: 20px;
    }

    ul.nav.nav-pills > li {
        float: none;
    }

    ul.nav.nav-pills+hr {
        display: none;
    }

    #content {
        position: relative;
        padding-left: 240px;
    }

    div#consoleMessages {
        overflow: hidden;
    }
}
