#content,
#pic {
    display: flex;
    justify-content: space-between;
}

#pic {
    margin: 0;
}

div.leftCol {
    flex: 0 0 calc((2/3) * 100% - 10px);
}

div.rightCol {
    flex: 0 0 calc((1/3) * 100% - 10px);
}

#pic > .leftCol {
    flex-basis: calc((2/3) * 100%);
}

#pic > .rightCol {
    flex-basis: calc((1/3) * 100%);
}

#navList h3 {
    margin-top: 0;
}

#navList i.fa {
    margin-right: 10px;
}

.colList {
    list-style-type: none;
    padding: 0px;
}

ul#photosList > li > a {
    width: calc(33% - 10px); 
    height: 80px; 
    float: left; 
    margin: 5px; 
    background-size: cover; 
}

div.rightCol#projects > a.project {
    height: 200px;
    margin: 0;
    width: 100%;
}

div.rightCol#projects > a.project > span:first-of-type {
    text-shadow: none;
    font-size: 40pt;
}

div.polyText > span {
    font-size: 24pt;
}

div.polyText {
    font-weight: 500;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    font-size: 50pt;
    padding: 0 15px;
}

@media only screen and (max-width: 900px) {
    div#content,
    div#pic {
        flex-direction: column;
    }

    div#content > div.leftCol {
        order: 2;
    }

    div.leftCol,
    div.rightCol,
    div#pic > div.rightCol {
        width: 100%;
        flex: 0 0 auto;
    }
}



