.exec {
    width: 100%;
}

.exec > div {
    float: left;
}

.exec > div:first-child {
    width: 25%;
    text-align: right;
    padding-right: 10px;
}

.exec > div:last-child {
    width: 75%;
    padding-left: 10px;
}

.exec .profile {
    margin: 0;
}

#offChoose {
    margin: 20px;
}

#offChoose > a {
    padding: 0 10px;
}

#offChoose > .selected {
    background-color: #eaeaea;
}