ul.nav.nav-tabs {
    margin-bottom: 10px;
}

#partsTitle .active a {
    color: black;
}

#parts .utilsForm > div:first-child .alert-success {
    display: none;
}

#parts .utilsForm > a.btn.btn-success {
    min-width: 71px;
}

#parts .utilsForm > a.btn.btn-primary:empty {
    display: none;
}

#parts .utilsForm > a.btn img {
    height: 20px;
}

#parts .utilsForm > a.btn.btn-success {
    margin-left: 10px;
}

#parts .panel {
    margin-top: 20px;
}

#allKits tbody td:last-child {
    text-align: right;
}