#findFrame {
    position: relative;
    left: -15px;
    width: 1200px;
    overflow: hidden;
}

#findFrame > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#findFrame > div > div {
    flex-shrink: 0;
}

.vis {
    position: relative;
    width: 290px; /*fix later*/
    height: 165px;
    float: left;
    padding: 0;
}

.vis div {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 110px;
    text-align: center;
    font-weight: bold;
    color: rgba(102, 102, 102, .4);
}

.vis table {
    
    border-collapse: collapse;
    table-layout: fixed;
    border: solid 5px black;
    float: left;
}

.vis td {
    border: solid 1px grey;
    width: 40px;
    height: 20px;
}

img#sadCat {
    display: block;
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    #findFrame {
        width: initial;
        left: 0;
    }
}