.form-horizontal h5 {
    font-weight: bold;
}

.form-horizontal #postContent {
    width: 100%;
    min-height: 200px;
}

.form-horizontal .nicEdit-panelContain {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-horizontal > div:nth-child(3) > div:first-child label {
    font-style: italic;
}

h5+div[unselectable="on"]+div {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.utilsForm > a.btn {
    margin-left: 15px;
    margin-top: 15px;
}

.utilsForm+div+div+hr {
    margin: 15px 0px;
}

#s3Upload > * {
    float: left;
    width: calc(50% - 7.5px);
    margin-right: 15px;
}

#s3Upload > *:last-child {
    margin-right: 0;
}

#s3Upload a.btn img {
    height: 20px;
    display: none;
}

#s3Upload a.btn.loading > img {
    display: initial;
}

#s3Upload a.btn.loading > span {
    display: none;
}

#tagControls {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 34px;
}

#tagControls > i.fa-plus-circle {
    color: green;
}

#tagControls > i.fa-minus-circle {
    color: red;
}