.prjHeading {
    background-color: #d9edf7;
    border-bottom: solid 1px;
    border-bottom-color: #bce8f1;
    padding: 10px;
    min-height: 100px;
}

.topPic.prjPic > div.h1 {
    background-color: #d9edf7;
}

#prjTitle {
    background-color: white;
}

#prjIdeasLnk {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    background-image: url('http://static.calpolyieee.org/img/mmouse2.JPG');
    background-position-y: -350px;
    height: 200px;
}

#prjIdeasLnk span {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 50pt;
}

.prjBody, prjBody * {
    text-align: justify;
}