#project h5 {
    font-weight: bold;
}

#prjContent {
    width: 100%;
    min-height: 200px;
}

#project a.btn {
    margin-top: 15px;
}

#project .nicEdit-panelContain {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#project > h5+div[unselectable="on"]+div {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}