#labStatus {
    text-align: center;
    margin: 15px 0px;
    font-size: 24px;
    color: black;
}

#labStatus > span {
    color: #3c763d;
    font-weight: 500;
}

#labStatus.closed > span {
    color: #a94442;
}