li.ui-menu-item {
    list-style-type: none;
    padding: 5px;
}

li.ui-menu-item:hover {
    background-color: #ccc;
    cursor: pointer;
}

ul.ui-autocomplete {
    margin: 0;
    padding: 0;
    background-color: white;
    border: solid 1px #ccc;
    width: 104px;
    font-size: 14pt;
    overflow-x: hidden;
}

.ui-helper-hidden-accessible {
    display: none;
}

a.ui-corner-all {
    color: black;
}