html {
    height: 100%;
}

body {
    padding-top: 51px;
    height: 100%;
    background-image:
    radial-gradient(
      #e1e1e1, #A8A8A8
    );
}

nav.navbar {
    border-bottom: solid 1px #f2f2f2;
    left: 50%;
    margin-left: -600px;
    max-width: 1200px;
    margin-bottom: 0;
}

nav.navbar .nav.navbar-nav > li > a {
    color: #5a5a5a;
}

section {
    min-height: 100%;
    position: relative;
    background-color: white;
    overflow: hidden;
    padding-bottom: 50px;
}

section,
nav > div {
    margin: 0 auto;
    max-width: 1200px;
}

a.btn,
div.alert,
div.modal-content,
div.panel-group .panel {
    border-radius: 0;
}

/* Re-add margin to the text on the right side of the nav. */
.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

.panel-heading {
    position: relative;
}

.panel-heading > a.btn {
    position: absolute;
    right: -1px;
    top: -1px;
    height: 39px;
    line-height: 25px;
    border-top-right-radius: 4px;
}

.panel-body > .table {
    margin-bottom: 0px;
}

.noPad {
    padding: 0;
}

div.input-group.money > div.input-group-addon {
    font-weight: 500;
}

#content {
    padding: 0 20px;
}

#pic {
    margin-bottom: 15px;
}

#pic > .alert {
    margin-top: 15px;
}

.loading {
    display: block;
    margin: 0 auto;
}

div.topPic {
    position: relative;
    background-size: cover;
    min-height: 400px;
}

div.topPic > div.h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 15px;
    padding: 0px 10px;
    font-size: 40pt;
    background-color: white;
    color: black;
    margin: 0;
}

img#profImage {
    margin-right: .5em;
    position: relative;
    top: -1px;
}

/*Styles for the cat-based panel-filler*/
.catPicture {
    margin: 15px auto;
    width: 480px;
    text-align: center;
}

.catPicture > div {
    background-size: cover;
    background-image: url("http://lorempixel.com/240/160/cats");
    width: 240px;
    height: 160px;
    margin: 15px 120px 0 120px;
}

/*Styles for error pages*/
.msg {
    padding: 30px;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px black;
}

.msgNumber {
    font-size: 120pt;
    margin-left: 20px;
}

@media only screen and (max-width: 1200px) {
    nav.navbar {
        left: 0;
        margin-left: 0;
    }

    .polyText > span {
        display: none;
    }
}