.candidate {
    width: 100%;
    height: 40px;
    font-size: 16pt;
    color: black;
    font-weight: 300;
    padding: 3px 10px 0px 10px;
    background-color: #fafafa;
    cursor: pointer;
    border: solid 1px #e7e7e7;
    position: relative;
}

.candidate.active {
    background-color: #0099ff;
    border-color: #e7e7e7;
}

.candidate > a.btn {
    border: solid 1px #e7e7e7;
    position: absolute;
    top: -1px;
    right: -1px;
    height: 40px;
    line-height: 28px;
}

.candidate input {
    position: relative;
    display: inline-block;
    width: 40%;
    top: -4px;
    height: 40px;
    border-radius: 0;
}

.candidates {
    margin: 10px 0 50px 0;
}

.candidates > div:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.candidates > div:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.candidates > div:first-child > a.btn {
    border-top-right-radius: 5px;
}

.candidates > div:last-child > a.btn {
    border-bottom-right-radius: 5px;
}