.post {
    background-color: #fafafa;
    margin: 15px 0px;
    overflow: hidden;
    border: solid 1px #f2f2f2;
    min-height: 142px;
}

.post > .pic {
    height: 140px;
    width: 140px;
    float: left;
    background-size: cover;
    margin-right: 10px;
}

.post > div:last-child {
    float: right;
    width: calc(100% - 160px);
    margin: 10px;
    margin-left: 0;
    font-size: 18px;
    font-weight: 500;
}

.post.noPic > div.pic {
    display: none;
}

.post.noPic > div:last-of-type {
    width: calc(100% - 20px);
}

.post > div:last-child > div:first-child,
.post > div:last-child > div:nth-child(2) {
    width: 100%;
    overflow: hidden; /*shitty clearfix*/
}

.post > div:last-child > div:last-child {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400 /*normal font weight*/
}

.post .title {
    float: left;
    font-size: 24px;
}

.post .date {
    float: right;
    color: grey;
}

.post .author {
    font-size: 14px;
    float: left;
}

.post .tags {
    font-size: 14px;
    float: right;
}

/*Style the Edit and Delete buttons in the console.*/
.post > a.btn {
    margin-left: 10px;
    float: right;
}


/*These selectors apply to the post when expanded*/
.post.expanded {
    border: none;
    padding: 0px;
    min-height: initial;
    position: relative;
}

.post.expanded > .pic {
    height: 300px;
    width: 100%;
    float: initial;
    margin: 0px;
}

.post.expanded > div:last-child {
    float: initial;
    width: initial;
    margin: initial;
    font-size: inherit;
    font-weight: inherit;
}

.post.expanded.noPic > div:last-child {
    padding-top: 114px;
}

.post.expanded.noPic > div.pic {
    display: none;
}

.post.expanded > div:last-child > div:first-child {
    width: initial;
    overflow: initial;
    height: 70px;
    background-color: #e1e1e1;
    padding: 5px;
    font-weight: 500;
}

.post.expanded > div:last-child > div:nth-child(2) {
    width: initial;
    overflow: initial;
    padding: 5px;
    border-left: solid 1px #e1e1e1;
    border-right: solid 1px #e1e1e1;
}

.post.expanded > div:last-child > div:last-child {
    margin: 0px;
    font-size: inherit;
    background-color: #e1e1e1;
    padding: 5px;
    font-weight: bold;
}

.post.expanded .title {
    float: initial;
    color: white;
    font-size: 30pt;
    width: 100%;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, .5);
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
}

.post.expanded .date {
    float: initial;
    color: initial;
}

.post.expanded .author {
    font-size: inherit;
    float: initial;
}

.post.expanded .tags {
    font-size: inherit;
    float: initial;
}

.post.expanded a.small {
    height: 60px;
    width: 60px;
    background-size: cover;
    float: right;
    margin-left: 5px;
}