.profile {
    margin-top: 10px;
    height: 170px;
    position: relative;
}

.profile > img {
    display: block;
    float: left;
    margin-right: 20px;
    width: 150px;
    margin: 10px;
}

.profile i.fa {
    margin-right: 10px;
    color: black;
}

@media only screen and (max-width: 768px) {
    .profile > img, .blurb {
        display: none;
     }
}
