.project {
    display: block;
    float: left;
    width: 200px;
    height: 100px;
    background-size: cover;
    margin: 10px;
    margin-left: 0px;
    margin-right: 15px;
    padding: 5px;
    overflow: hidden;
    white-space: normal;
    position: relative;
}

.project:hover {
    text-decoration: none;
}

.project > span:first-of-type {
    color: white;
    font-weight: 500;
    font-size: 30pt;
    line-height: 1;
    text-shadow: 1px 1px black;
    text-decoration: none;
}

.project > span:last-of-type {
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 18pt;
    font-style: italic;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
}

.project.noPic {
    background-color: #d9edf7;
}