{% extends "base.html" %}

{# Uses landing page styles. #}
{% block style %}
{% assets filters="cssmin", output="css/gen/index.min.css", "css/pages/index.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}Sponsors{% endblock %}

{% block content %}
<div class="leftCol">
  <h1>About Us</h1>
  <hr>
  <div>
    <p>
    We are a group of electrical and computer engineers representing
    California Polytechnic State Univeristy's student branch of IEEE. We are
    among one of the most active EE/CPE organizations that have consistently
    helped students delve deeper into their respective fields; we have created
    complex projects that result in learning all about engineering.
    </p>
    <p>
    We are an essential link between the EE/CPE department and the student
    body and have continued to provide a way for students to explore their
    interests.
    </p>
  </div>
  <b>What IEEE Needs</b>
  <div>
    <p>
    With an extremely dedicated group of 15 officers and a membership of over
    200 undergraduate students, the branch specializes in organizing tasks that
    further the futures of students involved in the branch.
    </p>
    <p>
    Looking forward, the branch is looking to connect with sponsors in order to
    provide a means of progressing towards bigger and better things for the
    student body.
    </p>
  </div>
  <h2>Becoming a Sponsor</h2>
  <div>
    <p>
    Becoming a sponsor is as simple as contacting the current treasurer. The
    treasurer will provide details on what it means to be a part of Cal Poly's
    IEEE student branch. Sponsorships can be renewed annually.
    </p>
    <p>
    Contact: {{ treasurer.name }} at <a href="mailto:{{ treasurer.email }}">{{ treasurer.email }}</a>.
    </p>
    <p>
    Below, sponsor types with their associated benefits are listed.
    <b>
      Each level of sponsorship includes all the benefits of its lower levels.
    </b>
  </div>
  <h3>Sponsor Types</h3>
  {% for sponsor_type in sponsor_types %}
  <h4 style="display:run-in;">{{ sponsor_type.name }} Sponsor</h4>
  {% if sponsor_type.max_donation %}
  <div>${{ sponsor_type.min_donation }} - {{ sponsor_type.max_donation }}</div>
  {% else %}
  <div>${{ sponsor_type.min_donation }}+</div>
  {% endif %}
  <ul>
    {% for benefit in sponsor_type.benefits %}
    <li>{{ benefit.benefit }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
<div class="rightCol">
  <h1>Sponsors</h1>
  <hr>
  {# Sort in reverse to have the highest ranking sponsors at the top. #}
  {% for sponsor_type in sponsor_types | reverse %}
    <h2>{{ sponsor_type.name }}</h2>
    {% for sponsor in sponsors %}
      {% if sponsor.donation >= sponsor_type.min_donation %}
        {% if sponsor_type.max_donation and sponsor.donation <= sponsor_type.max_donation %}
          <div class="clearfix">
            {% if sponsor.donation >= sponsor.MIN_PROFILE_DONATION %}</p>
            <a href="{{ sponsor.id }}">
            {% else %}
            <a href="{{ sponsor.company_website }}">
            {% endif %}
              <img src="{{ sponsor.logo }}"></img>
            </a>
          </div>
        {% elif not sponsor_type.max_donation %}
          <div class="clearfix">
            {% if sponsor.donation >= sponsor.MIN_PROFILE_DONATION %}</p>
            <a href="{{ sponsor.id }}">
            {% else %}
            <a href="{{ sponsor.company_website }}">
            {% endif %}
              <img src="{{ sponsor.logo }}"></img>
            </a>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
