{% extends "base.html" %}
{% set active_page="sponsors" %}

{% block title %}{{ sponsor.name }}{% endblock %}

{% block style %}
{% assets filters="cssmin", output="css/gen/projects.min.css", "css/pages/projects.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block pic %}
{% if sponsor_profile.banner %}
<div class="topPic prjPic" style="background-position-y: {{ sponsor_profile.banner_y_offset }}px; background-image: url('{{ sponsor_profile.banner }}');">
  <div class="h1">{{ sponsor.name }}</div>
</div>
{% endif %}
<div class="prjHeading">
  <p>{{ sponsor_profile.mission }}<p>
</div>
{% endblock %}

{% block content %}
<div class="prjBody">
  {{ sponsor_profile.description|safe }}
</div>
{% endblock %}
