<div id="configConsole">
  <h4>Change Site Variables</h4>
  <div class="form-horizontal" role="form"></div>
  <a href="javascript: void 0;" id="submit" class="btn btn-primary pull-right">Submit</a>
  <div class="clearfix"></div>
  <h4>Other site configuration actions</h4>
  <a href="javascript: void 0;" id="reset" class="btn btn-danger">Reset Voting</a>&nbsp;
  <a href="javascript: void 0;" id="process" class="btn btn-danger">Get Voting Results</a>
  <h4>Results</h4>
  <ul id="console"></ul>
</div>
{% assets filters="jsmin", output="gen/consoles_config.min.js", "js/consoles/config.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
  ieee.consoles.config.setup({{ config|tojson|safe }});
</script>
