{% from 'macros.html' import panel %}

<div class="well well-sm">
  <a href="http://static.calpolyieee.org/request_instructions.pdf"><b>Remibursement Request Instructions</b></a>
</div>

{{ panel(
    title='Your Reimbursement Requests',
    id='requests',
header='<a class="btn btn-default" href="javscript: void 0;">New Reimbursement Request</a>',
    ths=['Id', 'Amount', 'Date', 'Comment', 'Status', 'Type']
) }}

{% assets filters="jsmin", output="gen/consoles_finance.min.js", "js/consoles/finance.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
  ieee.consoles.finance.setup({{ reimbursements|tojson|safe }});
</script>
