{% from 'macros.html' import panel %}

{{ panel(
    title='Current Events',
    id='eventsFrame',
    header='<a class="btn btn-default" href="javascript: void 0;">New Event</a>',
    ths=['Id', 'Event', '&nbsp;']
) }}
{% assets filters="jsmin", output="gen/consoles_front_page.min.js", "js/consoles/front_page.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">ieee.consoles.front_page.setup({{ events|tojson|safe }});</script>
