{% from 'macros.html' import panel %}

{{ panel(
    title='Your Posts',
    id='postsFrame',
    ths=['Title', 'Date Posted', '&nbsp;'],
    header='<a class="btn btn-default" href="/posts/new/">New Post</a>'
) }}

{% assets filters="jsmin", output="gen/consoles_posts.min.js", "js/consoles/posts.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
  ieee.consoles.posts.setup({{ posts|tojson|safe }});
</script>
  
