<div id="profileConsole">
  <div>
    <span class="h4">Your Profile</span>
    <span class="pull-right">Live Preview&nbsp;</span>
  </div>
  <hr>
  <hr>
  <h4>Your Roles</h4>
  <div class="list-group"></div>
  <a id="deleteBtn" href="javascript: void 0;" class="btn btn btn-danger btn-block">Delete your account</a>
</div>
{% assets filters="jsmin", output="gen/consoles_profile.min.js", "js/Profile.js", "js/consoles/profile.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">ieee.consoles.profile.setup({{ current_user|tojson|safe }});</script>
