{% from 'macros.html' import panel %}

{{ panel(
    title='Current Projects',
    id='projectsFrame',
    header='<a class="btn btn-default" href="/projects/new/">New Project</a>',
    ths=['Title', 'Status', '&nbsp;']
) }}

{% assets filters="jsmin", output="gen/consoles_projects.min.js", "js/consoles/projects.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">ieee.consoles.projects.setup({{ projects|tojson|safe }});</script>
