<div id="runFrame">
  <div class="alert alert-info">
    You must be a current officer to run for Branch President.<br>
    You can run for up to 2 positions.
  </div>
  <h4>Positions you are currently running for</h4>
  <div class="candidates">
    {% if current_positions|length == 0 %}
      <div class="text-center">None</div>
    {% else %}
      {% for position in current_positions %}
        <div class="candidate">
          {{ position.title }}
          <a class="btn btn-danger" positionId="{{ position.id }}">Withdraw</a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <hr>
  {% if current_positions|length >= 2 %}
    <div class="text-center">You cannot run for more than 2 positions.</div>
  {% endif %}

  {% assets filters="jsmin", output="gen/consoles_run.min.js", "js/consoles/run.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script type="text/javascript">
      ieee.consoles.run.setup(
          {{ current_user|tojson|safe }},
          {{ current_positions|tojson|safe }},
          {{ all_positions|tojson|safe }},
          {{ questions|tojson|safe  }}
      );
  </script>
</div>
