<div id="votingFrame">
  {% if success %}
  <h4>Submit Ballot</h4>
  <div class="alert alert-danger">
    <b>Click on a name to select that candidate.<br>
      Voting ends on {{ end_date }}.
  </div>
  {% else %}
  {% for error in errors %}
  <div class="alert alert-info">{{ error }}</div>
  {% endfor %}
  {% endif %}
  {% if results %}
  <h4><u>Live Results</u></h4>
  {% for position in results %}
  <h4>{{ position }}</h4>
  {% for candidate in results[position] %}
  <div class="row">
    <div class="col-md-3">
      {{ candidate }}
    </div>
    <div class="col-md-9">
      <div class="progress">
        <div class="progress-bar"
             {% if totals[position] != 0 %}
             style="width: {{ results[position][candidate] / totals[position] * 100 }}%;">
             {% else %}
             style="width: 0%;">
             {% endif %}

             {% if results[position][candidate] != 0%}
             {{ results[position][candidate] }}
             {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}

  <h3>Write In Candidates</h3>
  <ul>
    {% for write_in in write_ins %}
    <li>{{ write_in }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% assets filters="jsmin", output="gen/consoles_voting.min.js", "js/Position.js", "js/consoles/voting.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% if success %}
<script type="text/javascript">ieee.consoles.voting.setup({{ positions|tojson|safe }});</script>
{% endif %}
