{% extends "base.html" %}

{% block title %}403{% endblock %}

{% block pic %}
<div class="msg topPic" style="background-image: url('http://static.calpolyieee.org/img/hal9000.png'); background-position: 0px -90px;">
  <div class="msgNumber">403.</div>
  <h1>
    <em>You do not have permission to access this resource.</em>
    <br>
    <span id="suggestion">I think you know what the problem is just as well as I do.</span>
  </h1>
</div>
{% endblock %}
