{% extends "base.html" %}

{% block title %}404{% endblock %}

{% block pic %}
<!--
Image source: http://www.nj.com/hudson/index.ssf/2008/07/update_kearny_fire_caused_by_e.html
-->
<div class="msg topPic" style="background-image: url('http://static.calpolyieee.org/img/fire_small.jpg'); background-position: 0px -300px;">
  <div class="msgNumber">404.</div>
  <h1>
    <em>This isn't the page you're looking for</em>.
    <br>
    <span id="suggestion"></span>
  </h1>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
  var suggestions = [
  "Did you connect something backwards?",
  "Are you dereferencing a null pointer?",
  "Is your Q-point hypothesis correct?",
  "Did you try turning it on and off again?",
  "Are any solder joints cold?"
  ];
  
  $("#suggestion").text(suggestions[(new Date().getTime()) % 5]);
</script>
{% endblock %}
