{% extends "base.html" %}

{% block title %}500{% endblock %}

{% block pic %}
<!--
Image source: http://www.eqecat.com/images/s/B3pGFOZ9wEqKNqAQASV4sw/20120311-1-1-tohoku-japna-earthquake-destruction-boat-on-roof-515x421.jpg
-->
<div class="msg topPic" style="background-position: 0px -150px; background-image:
  url('http://static.calpolyieee.org/img/boat_small.jpg');">
  <div class="msgNumber">500.</div>
  <h1>
    <em>Something is very wrong somewhere.</em>
    <br>
    <span id="suggestion">Back away slowly and try again.</span>
  </h1>
</div>
{% endblock %}
