{% extends "base.html" %}

{% block title %}Our Mission{% endblock %}

{% block content %}
<h1>Our Mission</h1>
The IEEE Student Branch is dedicated to promoting student community, educational
experiences within engineering, and academic excellence. We provide Cal
Poly students with opportunities to connect with industry and pursue their
interest of engineering through group and individual projects, and an outlet
to seek peer help in all areas of academics.
<div class="row">
  <div class="col-md-4">
    <h2>IEEE Worldwide</h2>
    IEEE is the world's largest professional association providing access to the
    industry's most essential technical information, networking opportunities,
    career development tools, and many other exclusive benefits to its members.
    The IEEE name was originally an acronym for the Institute of Electrical and
    Electronics Engineers, Inc.
    <br><br>
    Today, the organization's scope of interest has expanded into so many
    related fields, that it is simply referred to by the letters I-E-E-E
    (pronounced Eye-triple-E).
  </div>
  <div class="col-md-4">
    <h2>Who We Serve</h2>
    Through its global membership, IEEE is a leading authority on areas ranging
    from aerospace systems, computers and telecommunications to biomedical
    engineering, electric power and consumer electronics among others. Members
    rely on IEEE as a source of technical and professional information,
    resources and services. To foster an interest in the engineering
    profession, IEEE also serves student members in colleges and universities
    around the world. Other important constituencies include prospective
    members and organizations that purchase IEEE products and participate in
    conferences or other IEEE programs.
  </div>
  <div class="col-md-4">
    <h2>Membership</h2>
    <h4>Join the World's Largest Technical Professional Association.</h4>
    IEEE is the world's largest technical society, bringing members access to
    the industry's most essential technical information, networking
    opportunities, career development tools, and many other exclusive benefits.
    From continuing education courses and certifications, to conferences and
    competitions, you can learn more, create more, and achieve more of what
    matters in your life and career through IEEE membership.
  </div>
</div>
<div class="text-center h3">
  <a href="http://ieee.org/web/membership/join/join.html">Sign up</a>
  and be connected with other engineers around the world!
</div>
{% endblock %}
