<!doctype html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//static.calpolyieee.org/calpolyieee-utils.min.css" rel="stylesheet">
    {% assets "css_all" %}
      <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    {% block style %}{% endblock %}
    <title>{% block title %}{{ title }}{% endblock %} | Cal Poly IEEE-SB</title>
  </head>
  {% endblock %}
  {% set active_page = active_page|default('index') -%}
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('frontend_misc.index') }}">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void 0;">
                About <i class="fa fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/about/">Our Mission</a></li>
                <li><a href="/studentmemberbenefits/">Student Member Benefits</a></li>
                <li><a href="/thelab/">The IEEE Lab</a></li>
                <li><a href="/parts/">Parts & Kits</a></li>
                <li><a href="/officers/">Officers</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void 0;">
                Projects <i class="fa fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/ideas/">Project Proposals</a></li>
                <li><a href="/projects/">Current</a></li>
                <ul>
                  {% for url, title in current_projects %}
                    <li style="list-style-type: none;text-decoration: none;"><a
                      href="/projects/{{ url }}" style="color: inherit;">{{ title }}</a></li>
                  {% endfor %}
                </ul>
                <li><a href="/projects/">Completed</a></li>
                <ul>
                  {% for url, title in completed_projects %}
                    <li style="list-style-type: none;"><a href="/projects/{{ url }}" style="color: inherit;">{{ title }}</a></li>
                  {% endfor %}
                </ul>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void 0;">
                Outreach <i class="fa fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/tutoring/">Tutoring</a></li>
                <li><a href="{{ url_for('frontend_misc.summer_camp') }}">Summer Camp</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if not session.user_id %}
            <li>
              <a id="loginLnk" href="/users/login/">Login</a>
            </li>
            <li>
              <a id="regLnk" href="{{ url_for('users.register') }}">Register</a>
            </li>
            {% else %}
            <li>
              <a href="{{ url_for('current_user.home') }}"><img id="profImage" class="img-circle">Profile</a>
            </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <section>
      <div id="messages">
        {% for category, msg in get_flashed_messages(with_categories=true) %}
        {% if msg %}
        <div class="alert alert-{{ category }}">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p>{{ msg }}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div id="pic">{% block pic %}{% endblock %}</div>
      <div id="content">{% block content %}{% endblock %}</div>
    </section>

    {% block script %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//static.calpolyieee.org/calpolyieee-utils.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.min.js"></script>
    {% assets filters="jsmin", output="gen/ieee.min.js", "js/ieee.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% if session.user_id %}
      <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    {% endif %}
    <script type="text/javascript">$(function() { ieee.setup({{ session.user_id }}); });</script>
    {% endblock %}
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-67980240-1', 'auto');
	  ga('send', 'pageview');
    </script>
  </body>
</html>
