{% extends "base.html" %}

{% block style %}
{% assets filters="cssmin", output="css/gen/index.min.css", "css/pages/index.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block pic %}
<div class="leftCol topPic"
     style="background-image: url('{{ landing_image }}');"
     title="Leonardo Ulian: 'Sacred Space' / Photo by Oskar Proctor">
  <div class="polyText">CAL POLY IEEE&nbsp;<span>Student Branch</span></div>
</div>
<div class="rightCol" id="projects"></div>
{% endblock %}

{% block content %}
<div class="leftCol">
  <h2>Club News</h2>
  <hr>
  <div id="posts"></div>
  <div id="noMore" class="text-center hidden">
    No more posts... Check out our <a href="/projects/">projects</a> instead!
  </div>
</div>
<div class="rightCol">
  <h2>Navigation</h2>
  <hr>
  <ul class="colList" id="navList">
    <li><h3><i class="fa fa-envelope fa-lg"></i><a href="http://eepurl.com/HmD8f">Mailing List</a></h3></li>
    <li><h3><i class="fa fa-book fa-lg"></i><a href="/tutoring/">Tutoring</a></h3></li>
    <li><h3><i class="fa fa-home fa-lg"></i><a href="/thelab/">IEEE Collaboration Lab</a></h3></li>
    <li><h3><i class="fa fa-cog fa-lg"></i><a href="/parts/">Parts & Kits</a></h3></li>
  </ul>
  <div id="sticky"></div>
  <h2>Sponsors</h2>
  <div class="h4"><a href="/sponsors/">Become a sponsor!</a></div>
  <hr>
  {% for sponsor in sponsors %}
  <div class="clearfix">
    {% if sponsor.donation >= sponsor.MIN_PROFILE_DONATION %}
    <a href="/sponsors/{{ sponsor.id }}">
    {% else %}
    <a href="{{ sponsor.company_website }}">
    {% endif %}
      <img src="{{ sponsor.logo }}"></img>
    </a>
  </div>
  {% endfor %}
  <h2>Upcoming Events</h2>
  <hr>
  <div class="h4">
    Email <a href="mailto:cpieeemgmt@gmail.com">events@calpolyieee.org</a> for more info!
  </div>
  <ul id="eventsList" class="h4 colList"></ul>
</div>
{% endblock %}

{% block script %}
{{ super() }}
{% assets filters="jsmin", output="gen/index.min.js",
  "js/Post.js", "js/Project.js", "js/pages/index.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">$(function() { ieee.pages.index.setup({{ front_page|tojson|safe }}); });</script>
{% endblock %}
