{% macro panel(title='', id='', ths=[], header='', footer='',
table_class='table', panel_class='panel panel-default') -%}
<div class="{{ panel_class }}" id="{{ id }}">
  <div class="panel-heading">
    <div class="panel-title h4">{{ title|safe }}</div>
    {{ header|safe }}
  </div>
  <div class="panel-body noPad">
    <table class="{{ table_class }}">
      <thead>
        <tr>
          {% for cell in ths %}
          <th>{{ cell|safe }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="panel-footer">{{ footer|safe }}</div>
</div>
{%- endmacro %}
