{% extends "base.html" %}
{% set active_page="officers" %}
{% set title="Officers" %}

{% block style %}
{% assets filters="cssmin", output="css/gen/officers.min.css", "css/pages/officers.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block pic %}
<div class="topPic" style="background-image: url('{{ officers_image }}');">
  <div class="h1">{{ title }}</div>
</div>
{% endblock %}

{% block content %}
<h2 id="offChoose">
  <a sec="#offExec" href="#offExec" class="selected">Executive</a> | 
  <a sec="#offOther" href="#offOther">2015-2016</a> | 
  <a sec="#offOld" href="#offOld">Past</a>
</h2>
<div id="offExec"></div>
<div id="offOther" class="hidden"></div>
<div id="offOld" class="hidden"></div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
{% assets filters="jsmin", output="gen/officers.min.js",
  "js/Profile.js", "js/pages/officers.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">$(function() {
    ieee.pages.officers.setup(
        {{ officers|tojson|safe }},
        {{ old_officers|tojson|safe }}
    );
});
</script>
{% endblock %}
