{% extends "base.html" %}

{% block style %}
{% assets filters="cssmin", output="css/gen/parts_location.min.css", "css/pages/parts_location.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}Locate Part{% endblock %}

{% block content %}
<div id="findHide" class="hidden">
  <h3 id="findTitle">Location of </h3>
  <div id="findFrame"></div>
  <h3>Additional location info: <span id="findAddtl"></span></h3>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="/static/js/Part.js"></script>
<script type="text/javascript" src="/static/js/pages/parts_location.js"></script>
<script type="text/javascript">
  $(function () { ieee.pages.parts_location.setup({{ part.serialize|tojson|safe }}); });
</script>
{% endblock %}
