{% from 'macros.html' import panel %}
{% extends "base.html" %}

{% block style %}
{% assets filters="cssmin", output="css/gen/parts.min.css", "css/pages/parts.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}Parts & Kits{% endblock %}

{% block content %}
<ul class="nav nav-tabs nav-justified h4" id="partsTitle">
  <li role="presentation" class="active"><a href="#search">Search Parts</a></li>
  <li role="presentations"><a href="#kits">Browse Kits</a></li>
</ul>
<div id="parts">
  {{ panel(
      title='Results&nbsp;<span class="badge">0</span>',
      ths=['Id', 'Name', 'Cost', 'Additional Info']
  ) }}
</div>
{{ panel(
    title='All Kits',
    id='allKits',
    ths=['Name', 'Stock', 'Cost', '&nbsp;'],
    panel_class='panel panel-default hidden'
) }}

<div class="hidden">
  <div id="noKits" class="text-center h5">
    No kits available currently. Please check back later!
  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
{% assets filters="jsmin", output="gen/parts.min.js", "js/Part.js", "js/pages/parts.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">$(function () {
    ieee.pages.parts.setup(
        {{ categories|tojson|safe }},
        {{ kits|tojson|safe }}
    );
});</script>
{% endblock %}
