{% extends "base.html" %}
{% set active_page="projects" %}
{% set title="Projects" %}

{% block style %}
{% assets filters="cssmin", output="css/gen/projects.min.css", "css/pages/projects.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}Projects{% endblock %}

{% block pic %}
<div id="prjPic" class="topPic" style="background-image: url('http://static.calpolyieee.org/img/led_matrix1.jpg');
                           background-position: 0 -250px;">
  <div id="prjTitle" class="h1">{{ title }}</div>
</div>
{% endblock %}

{% block content %}
<div id="prjCurr" class="clearfix">
  <div class="h2">Current Projects</div>
  <div></div>
</div>
<div id="prjPast" class="clearfix">
  <div class="h2">Completed Projects</div>
  <div></div>
</div>
<div id="prjIdeas">
  <div class="h2">Got an idea for a project?</div>
  <a href="/ideas/" class="project noPic" id="prjIdeasLnk"><span>Project <br>Proposals</span></a>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/Project.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/projects.js') }}"></script>
<script type="text/javascript">$(function () {
    ieee.pages.projects.setup(
        {{ completed|tojson|safe }},
        {{ not_completed|tojson|safe }}
    );
});</script>
{% endblock %}
