{% extends "base.html" %}
{% set title="QUnit" %}

{% block title %}{{ title }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.17.1.css">
{% endblock %}

{% block pic %}
{% endblock %}

{% block content %}
<div id="qunit"></div>
<div id="qunit-fixture"></div>
{% endblock %}

{% block script %}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jshint/2.6.3/jshint.js"></script>
<script src="http://static.calpolyieee.org/qhint.js"></script>
<script src="//code.jquery.com/qunit/qunit-1.17.1.js"></script>
<script src="/static/js/test.js"></script>
{% endblock %}
