{% from 'macros.html' import panel %}
{% extends "base.html" %}

{% block title %}{{ kit.name }} Kit Info{% endblock %}

{% block content %}
{{ panel(
    title=kit.name + ' Kit Contents <span class="pull-right">Cost: <span></span></span>',
    ths=['Quantity', 'Item Name']
) }}
{% endblock %}

{% block script %}
{{ super() }}
{% assets filters="jsmin", output="gen/single_kit.min.js", "js/Part.js", "js/pages/single_kit.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
  <script type="text/javascript">$(function () { ieee.pages.single_kit.setup({{ kit.serialize|tojson|safe }}); });</script>
{% endblock %}
