{% extends "base.html" %}

{% block title %}Student Member Benefits{% endblock %}

{% block content %}
<h1>Student Member Benefits</h1>
Student members will recieve a host of benefits from membership.
<div class="row">
	<ul>
		<li>The opportunity to apply for funding for personal projects. The treasurer shall decide how much of the project the club will fund and, if applicable, whether the club or the student will own major project components. Project allocations must be approved by a majority vote of all officers
		<li>Free passive components, defined to be resistors and capacitors. Students will be limited to 10 components per transaction.
		<li>Inclusion of their resume in the club resume portfolio.
		<li>The opportunity to participate in club industry tours.
		<li>A 20% discount on all parts and kits.
	</ul>  
</div>
<div class="text-center h3">
  <a href="http://ieee.org/web/membership/join/join.html">Sign up</a>
  and be connected with other engineers around the world!
</div>
{% endblock %}
