{% extends "base.html" %}
{% set active_page="summer_camp" %}
{% set title="Summer Camp" %}

{% block title %}{{ title }}{% endblock %}

{% block pic %}
<div class="topPic" style="background-image: url('http://static.calpolyieee.org/img/summer_camp.jpg');
                           background-position: 0 -70px;">
  <div class="h1">{{ title }}</div>
</div>
{% endblock %}

{% block content %}
<h3>Engineering Summer Camp</h3>
<h4>Date: June 16-20, 2014 </h4>
<h4>Time: 9:00am - 4:00pm</h4>
<h4>Location: Cal Poly Campus (Check-in and most activites in building 20)</h4>
<h4>Overview</h4>
<p>
The Engineering Summer Camp's goal is for attendees to have fun with computer
and electronics engineering. Each day, from June 16-20, campers will
participate in the games and activities of a summer day camp in addition to
hands-on projects and labs, learning fundamental techniques used by electrical
and computer engineers.
</p>
<h4>Daily Activities</h4>
<p>Our camp's age range extends from rising 7th graders to rising high school
seniors. For most activities, campers will be divided into age groups, but no
prior electronics or programming experience is expected of any age.</p>
<p>The daily schedule will typically include a morning lab activity, a lunch
break, an afternoon lab activity, games, and a fun engineering- or
science-related activity before the end.</p>
<p>The camp goes from 9am to 4pm each day. Lunch is <b>not</b> provided, but
campus lunch facilities will be open.  </p>
<h4>Labs</h4>
<p>
This year, labs will include <b>Arduino, Scribbler robots, and electronics
projects</b>, exposing campers to programming, soldering, building circuits,
and designing as a team.
</p>
<h4>Sign Up</h4>
<p>
Interested in attending?
</p>
<p>
The cost of attending is $175 per camper. To register for the camp, follow the
following
<a href="https://regstg.com/Registration/Registration.aspx?rid=7d275c00-6e88-4c11-8d1b-45a4e8829fcd">
  link.
</a>

<h4>Cal Poly Students: Interested in Helping Out?</h4>
<p>
Helpers are needed now! Currently, we are working to plan the labs and
activities. Those who help out as counselors and lab instructors during the
camp will be paid for their work. If you want to get involved, get started by
any of the means listed below:
</p>
<ul>
  <li>Fill out the
    <a href="https://docs.google.com/forms/d/1W04EXrjZ4Yhc6a1wFaI09hRrpr8Fo2srxKRltjqkArU/viewform">
      interest form
    </a>
  </li>
  <li> Attend one of the weekly meetings</li>
  <li> Contact Traci Takasugi
    <a href="mailto:ttakasug@calpoly.edu">
      ttakasug@calpoly.edu
    </a>
    to ask questions or to be added to the mailing list
  </li>
</ul>
<p> All grade levels (freshman to senior) are welcome as helpers. </p>
{% endblock %}
