{% extends "base.html" %}

{% block style %}
{% assets filters="cssmin", output="css/gen/thelab.min.css", "css/pages/thelab.css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block title %}The Lab{% endblock %}

{% block content %}
<div class="h2"><i class="fa fa-map-marker"></i> The IEEE Collaboration Lab</div>
The IEEE collaboration lab (ICL) is located in building 20 room 115, in the
middle leg of Engineering East.
<div id="labStatus" class="alert alert-info closed">
  The lab is <span>CLOSED</span> right now!
</div>
<h3>Map</h3>
<div class="row" style="margin:0px;">
  <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-120.66330850124359%2C35.29948801813334%2C-120.66063702106476%2C35.30111666643969&amp;layer=mapnik&amp;marker=35.30030234638387%2C-120.66197276115417" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=35.30030&amp;mlon=-120.66197#map=19/35.30030/-120.66197">View Larger Map</a></small>
</div>
{% endblock %}

{% block script %}
{{ super() }}
{% assets filters="jsmin", output="gen/thelab.min.js", "js/pages/thelab.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">$(function() { ieee.pages.thelab.setup({{ status|tojson|safe }}); });</script>
{% endblock %}
