{% extends "base.html" %}

{% block title %}Tutoring{% endblock %}

{% block content %}
<h1>Tutoring</h1>
<h4> Need help? Head on over to 20-115! <br>
  We offer tutoring in EE112 and EE306 from 4-5pm MWF</h4>
{% endblock %}
